@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@100;200;300;400;500;600;700&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* font-family: 'Kalnia', serif;
font-family: 'Plus Jakarta Sans', sans-serif; */

* {
    margin: 0;
    padding: 0;

    text-decoration: none;
    color: var(--black);

    -ms-overflow-style: none;
    scrollbar-width: none; 
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --black: #1E1E1E;
    --white: #F1F1F1;
    --beigh: #DAD9D2;
    --green: #171D03;
    --light-green: #242d06;
    --brown: #56504E;

    --navbar-seethrough: #f1f1f157;
}

body {
    background-color: var(--beigh);
}

html{
    scroll-snap-type: y mandatory;
}
section {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    scroll-snap-align: start;
}

p, a, label, input, textarea, button {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: var(--black);
}

/* -------------- */

.navBar {
    position: fixed;
    z-index: 100;
    top: 0;
    
    height: 10vh;
    width: 100%;
    transition: ease-out 200ms;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15%;
}

.logoIMG {
    height: 95%;
    /* mix-blend-mode: difference; */
}

.links {
    height: 100%;
    width: 40%;
    margin-left: 20%;
    /* mix-blend-mode: difference; */
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    font-size: 1vw;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.links a {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    transition: ease-in 300ms
}

.links a:hover {
    border-bottom:3px solid var(--white);
}

/* -------------- */

.leaderTextDiv {
    position: absolute;
    z-index: 40;
    top: 25%;
    left: 5%;
    width: 53vw;
    aspect-ratio: 18/4;
    overflow: hidden;
    
    border-radius: 1vmax;
    backdrop-filter: blur(20px);
    background-color: rgba(250, 250, 250, 0.417);
    /* mix-blend-mode: difference; */
}
.title {
    font-family: 'Kalnia', serif;
    font-weight: 300;
    font-size: 6vw;
    letter-spacing: 0.25vw;
}
.catchphrase {
    font-family: 'Kalnia', serif;
    font-weight: 300;
    font-size: 1.5vw;

    margin-left: 5%;
}

.bubble {
    position: absolute;
    background-size: cover;
    background-position: center;

    animation: scale 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;

    aspect-ratio: 1/1;
    border-radius: 50%;
    z-index: 30;
}

.bubble1 {
    top: -15%;
    left: -10%;
    width: 50vmax;
    background-image: url('./img/IMG_8735.JPG');
    animation-delay: 0s;
}
.bubble2 {
    top: 10%;
    right: -10%;
    width: 36vw;
    background-image: url('./img/IMG_8727.JPG');
    animation-delay: 1s;
}
.bubble3 {
    bottom: -10%;
    left: 35%;
    width: 42vw;
    background-image: url('./img/IMG_8728.JPG');
    animation-delay: 2s;
}

/* -------------- */

.textBar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 40;

    background-color: var(--white);
    height: 27%;
    width: 75%;

    display: flex;
    align-items: center;
}

.memberInfo {
    font-size: 1.35vw;
    line-height: 4.5vh;
    letter-spacing: 2px;

    margin: 0 2% 0 auto;
}


.pfp {
    position: absolute;
    background-size: cover;
    background-position: center;
    background-image: url('https://qph.cf2.quoracdn.net/main-qimg-2b21b9dd05c757fe30231fac65b504dd');

    aspect-ratio: 1/1;
    border-radius: 50%;
    z-index: 50;

    width: 17.5vw;

    animation: move 6s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}
.pfp1 {
    top: 10%;
    left: 2%;
}
.pfp2 {
    z-index: 30;
    top: 8%;
    right: 30%;
    animation-delay: 4s;
}
.pfp3 {
    z-index: 30;
    bottom: 20%;
    right: 7%;
}
.pfp4 {
    bottom: 7%;
    left: 45%;
    animation-delay: 2s;
}
.pfp5 {
    bottom: 2%;
    left: 5%;
    animation-delay: 3s;
}

/* -------------- */

.carousel {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    z-index: 40;

    height: 72%;
    width: 50vw;
    background-color: var(--black);
}

.carouselItem {
    display: none;

    height: 100%;
    width: 100%;

    background-size: cover;
    background-position: center;

    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 500ms;
}
.active {
    display: block;
}

.carouselItem:nth-child(1) {
    background-image: url('./img/IMG_8733.JPG');
}
.carouselItem:nth-child(2) {
    background-image: url('./img/IMG_8735.JPG');
}
.carouselItem:nth-child(3) {
    background-image: url('./img/IMG_8723.JPG');
}
.carouselItem:nth-child(4) {
    background-image: url('./img/IMG_8727.JPG');
}
.carouselItem:nth-child(5) {
    background-image: url('./img/IMG_8801.jpeg');
}
.carouselItem:nth-child(6) {
    background-image: url('./img/IMG_8802.jpeg');
}

.textDiv {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 40;

    height: 72%;
    width: 30%;
    background-color: var(--green);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.pastworkText {
    color: var(--white);

    font-size: 1.25vw;
    line-height: 4.25vh;

    margin-left: 2%;
}

/* -------------- */

.sponsorDiv {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    height: 75%;
    width: 100%;
    background-color: var(--brown);
}

.sponsorText {
    position: absolute;
    top: 8%;
    left: 6%;

    color: var(--white);
    font-family: 'Plus Jakarta Sans', sans-serif; 
    font-size: 3vw;
}
.sponsorTextLine {
    position: absolute;
    top: 18%;
    left: 0%;

    height: 2px;
    width: 30%;
    background-color: var(--beigh);
}


.sponsorLogoGrid {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 100%;
    height: 60%;

    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
}
.sponsorLogo {
    width: 80%;
}
.sponsorLogo:nth-child(3) {
    width: 40%;
}

/* -------------- */

.moreTextDiv {
    position: absolute;
    top: 15%;

    display: flex;
    justify-content: center;

    width: 100%;
    background-color: var(--white);
}

.moreText {
    font-size: 1.25vw;
    line-height: 4.5vh;
    letter-spacing: 2px;

    padding: 1% 0;
}

.buttonDiv {
    position: absolute;
    top: 45%;

    width: 100%;
    height: 50%;

    display: flex;
    justify-content: space-between;
}

.buttonDiv a {
    height: 100%;
    aspect-ratio: 1/1;
    background-color: var(--green);
    border-radius: 5%;

    color: var(--white);
    font-size: 1.5vw;

    display: grid;
    place-items: center;

    transition: cubic-bezier(0.215, 0.610, 0.355, 1) 200ms;
}
.buttonDiv a:hover {
    background-color: var(--light-green);
    border-radius: 7%;

    transform: scale(1.025);
}

.buttonDiv a:nth-child(1):hover {
    transform: translateX(5%);
}
.buttonDiv a:nth-child(2):hover {
    transform: translateX(-5%);
}


/* -------------- */

.contactTextDiv {
    position: absolute;
    bottom: 11%;

    display: flex;
    justify-content: center;

    width: 100%;
    background-color: var(--white);
}
.contactText {
    font-size: 1.25vw;
    line-height: 45px;
    letter-spacing: 2px;

    padding: 1% 0;
}

.contactForm {
    position: absolute;
    bottom: 0;

    height: 88%;
    width: 100%;
    background-color: var(--green);
    border-radius: 7em 7em 0 0;
    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.shortContactForm {
    display: none;
}

.contactForm > div {
    height: 100%;
    width: 100%;
    position: relative;
}


.contactUs {
    position: absolute;
    top: 10%;
    left: 12%;

    color: var(--white);
    font: 600 2.5vw 'Plus Jakarta Sans', sans-serif;
}
.textline {
    position: absolute;
    top: 18%;

    height: 2px;
    width: 50%;
    background-color: var(--white);
}
.contactMailDiv {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 80%;
}
form {
    height: 100%;
    width: 100%;
}
label {
    color: var(--white);
    font-size: 1vw;
    letter-spacing: 2px;
}
input {
    font-size: 1.5vw;
}

.topPartDiv {
    width: 100%;
    height: 20%;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
label[for="message"] {
    margin-left: 1%;
}
textarea {
    margin-left: 1%;
    font-size: 1.25vw;
    width: 98%;
    height: 45vh;
}
button[type="submit"] {
    position: absolute;
    bottom: 3%;
    left: 1%;

    height: 7%;
    width: 15%;
    border-radius: 5em;
    background-color: var(--white);
    color: var(--green);
    font-size: 1.25vw;
    font-weight: 700;
    letter-spacing: 2px;

    display: grid;
    place-items: center;

    transition: cubic-bezier(0.215, 0.610, 0.355, 1) 200ms;
}
button[type="submit"]:hover {
    background-color: #c5c5c5;
    border-radius: 7em;
    transform: scale(1.025);
}


.imgLogoDiv {
    position: absolute;
    right: 12%;
    top: 5%;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 42%;
    
}
.contactLogo {
    width: 70%;
}
.contactCatchphrase {
    color: var(--white);
    font-family: 'Kalnia', serif;
    font-size: 2.25vw;
    font-weight: 700;
}

.contactInfoDiv {
    position: absolute;
    bottom: 10%;
    right: 10%;

    height: 48%;
    width: 80%;
    

    display: grid;
    grid-template-rows: repeat(5, 1fr);
}
.contactInfoDiv > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contactName, .contactNumber, .bindingLine {
    color: var(--white);
    font-size: 1.75vw;
    letter-spacing: 2px;
}
.bindingLine {
    font-size: 2vw;
    font-weight: 700;
    margin: 0 5%;
}

i {
    position: absolute;
    bottom: 1%;
    right: 1%;

    color: var(--brown);
    font-size: 3vw;
}
.fa-instagram {
    right: 7%;
}

/* -------------- */

@keyframes scale {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.97);
    }
}

@keyframes move {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(5%);
    }
}


@media (max-width: 500px) {
    .navBar {     
        height: 10vh;
        width: 100%;

        gap: 0%;
    }
    
    .dngLogo {
        width: 25%;
    }
    .links {
        width: 75%;
        margin: 0;
        
        font-size: 3vw;
    }




    .leaderTextDiv {
        top: 20%;
        left: 0%;
        width: 100%;
        aspect-ratio: 18/4;

        .title {
            font-size: 11.5vw;
            letter-spacing: 0.5vw;
        }
        .catchphrase {
            font-size: 3.5vw;
        }
    }
    .bubble1 {
        top: -5%;
        left: -17%;
        animation-delay: 0s;
    }
    .bubble2 {
        top: 32%;
        right: -3%;
        width: 55vw;
    }
    .bubble3 {
        bottom: 5%;
        left: 15%;
        width: 80vw;
    }



    .textBar {
        top: 50%;
        left: 0%;
        transform: translateY(-50%);

        height: 32%;
        width: 95%;

        .memberInfo {
            font-size: 4vw;
            line-height: 3.2vh;
            letter-spacing: 2px;
        }
    }
    .pfp {
        width: 40vw;
    }
    .pfp1 {
        top: 12%;
    }
    .pfp2 {
        top: 10%;
        left: 55%;
    }
    .pfp3 {
        z-index: 99;
        bottom: 18%;
        right: -5%;
    }
    .pfp4 {
        bottom: 15%;
        left: 0;
    }
    .pfp5 {
        bottom: 10%;
        left: 35%;
    }



    .carousel { 
        top: 11%;
        left: 0%;
        transform: translateY(0%);

        height: 45%;
        width: 100%;
    }
    .textDiv {
        top: 60%;
        right: 0%;
        transform: translateY(0%);

        height: 30%;
        width: 100%;
        overflow-y: scroll;
        display: block;

        .pastworkText {
            font-size: 3.9vw;
            line-height: 3.2vh;
            letter-spacing: 2px;
        }
    }




    .sponsorText {
        font-size: 10vw;
        top: 4%;
        left: 50%;
        width: 80%;
        transform: translateX(-50%);
    }
    .sponsorTextLine {
        width: 75%;
        height: 0.25%;
        top: 22%;
    }
    .sponsorLogoGrid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .sponsorLogo {
        width: 100%;
    }
    .sponsorLogo:nth-child(1) {
        grid-column: 1;
        grid-row:1 ;
    }
    .sponsorLogo:nth-child(2) {
        grid-column: 2;
        grid-row:1 ;
    }
    .sponsorLogo:nth-child(3) {
        grid-column: 2;
        grid-row: 2;
    }
    .sponsorLogo:nth-child(4) {
        grid-column: 1;
        grid-row: 2;
    }
    /* .sponsorLogo:nth-child(5) {
        grid-column: 3;
        grid-row: 3;
    } */



    .moreTextDiv {
        height: 30%;
        top: 22%;
        height: auto;
        
        .moreText {
            padding: 2% 0;
            text-align: center;
            font-size: 4vw;
            line-height: 2.5vh;
            letter-spacing: 1px;
        }

        br {
            display: none;
        }
    }
    .buttonDiv {
        top: 60%;
        
        height: 22%;
        
        a {
            font-size: 4vw;
        }
    }




    .contactText {
        top: 4%;
        font-size: 4vw;
        line-height: 3vh;
    }
    .brRemove {
        display: none;
    }




        .contactForm {
            display: none;
        }

        .shortContactForm {
            display: inline-block;
            position: absolute;
            bottom: 0;
        
            height: 88%;
            width: 100%;
            background-color: var(--green);
            border-radius: 2em 2em 0 0;
            overflow: hidden;
        }
        .shortContactForm > div {
            height: 100%;
            width: 100%;
            position: relative;
        }

        .shortContactUs {
            position: absolute;
            top: 8%;
            left: 8%;
    
            color: var(--white);
            font: 600 5vw 'Plus Jakarta Sans', sans-serif;
        }
        .shortTextline {
            position: absolute;
            top: 12%;
            height: 1px;
            width: 45%;
            background-color: var(--white);
        }
        .shortImgLogoDiv {
            position: absolute;
            right: 4%;
            top: 2%;
    
            display: flex;
            flex-direction: column;
            align-items: center;
    
            width: 42%;

            img {
                width: 60%;
            }
            p {
                color: var(--white);
                font-size: 4.5vw;
                font-weight: 700;
                font-family: 'Kalnia', serif;
            }
        }

        .shortContactMailDiv {
            position: absolute;
            bottom: 28%;
            left: 50%;
            transform: translateX(-50%);

            height: 55%;
            width: 95%;

            form {
                height: 97%;
                width: 100%;
                position: relative;

                label{
                    font-size: 3.5vw;
                    display: block;
                    line-height: 1vh;
                }
                input{
                    font-size: 4vw;
                    width: 95%;
                    height: 10%;
                    margin: 2% 0;
                }
                button {
                    font-size: 4vw;
                    width: 20%;
                    bottom: 2%;
                }
                textarea {
                    font-size: 3.5vw;
                    width: 95%;
                    height: 63%;
                    margin: 2% 0;
                }
            }
        }

        form > div {
            height: 100%;
            width: 100%;
        }
        .shortTopPartDiv {
            width: 100%;
            height: 20%;
            
            display: grid;
            grid-template-columns: 1fr 1fr;
            place-items: center;
        }

        .shortContactInfoDiv {
            position: absolute;
            bottom: 5%;
            left: 50%;
            transform: translateX(-50%);
    
            height: 23%;
            width: 95%;
            
            display: grid;
            grid-template-rows: repeat(5, 1fr);

            .shortContactName, .shortContactNumber {
                font-size: 4vw;
            }
            .shortBindingLine {
                font-weight: bold;
                margin: 0 2vw;
            }
            .shortContactName, .shortContactNumber, .shortBindingLine {
                color: var(--white);
            }

            div {
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        }

        .fa-brands {
            font-size: 7vw;
        }
        .fa-instagram {
            right: 9%;
        }

}