@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@100;200;300;400;500;600;700&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* font-family: 'Kalnia', serif;
font-family: 'Plus Jakarta Sans', sans-serif; */

* {
    margin: 0;
    padding: 0;

    text-decoration: none;
    color: var(--black);

    -ms-overflow-style: none;
    scrollbar-width: none; 
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --black: #1E1E1E;
    --white: #F1F1F1;
    --beigh: #DAD9D2;
    --green: #171D03;
    --light-green: #242d06;
    --brown: #56504E;

    --navbar-seethrough: #f1f1f157;
}

body {
    background-color: var(--beigh);
}

html{
    scroll-snap-type: y mandatory;
}
section {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    scroll-snap-align: start;
}

p, a, label, input, textarea, button {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: var(--black);
}


/* -------------- */


.navBar {
    position: fixed;
    z-index: 100;
    top: 0;
    
    height: 10vh;
    width: 100%;
    transition: ease-out 200ms;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15%;
}

.logoIMG {
    height: 95%;
}

.links {
    height: 100%;
    width: 40%;
    margin-left: 20%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    font-size: 1vw;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.links a {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    transition: ease-in 300ms
}

.links a:hover {
    border-bottom:3px solid var(--white);
}


/* -------------- */


.spacingDiv {
    height: 10vh;
    width: 100%;
}
.mainDiv {
    height: 90vh;
    width: 100%;

    position: relative;
    overflow: hidden;
    display: flex;
}

.textDiv {
    height: 100%;
    width: 35%;
}
.feedbackTitle {
    font-size: 3vw;
    width: 100%;
    padding: 20% 0 0 7%;
}
.feedbackTitleLine {
    width: 60%;
    height: 5px;

    margin: 2% 0;
    background-color: var(--green);
}
.feedbbackMainText {
    font-size: 1.25vw;
    width: 85%;
    margin: 7% auto;
}

.feedbackContainer {
    height: 100%;
    width: 65%;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    place-items: center;
}
.card {
    height: 95%;
    width: 95%;
    background-color: var(--light-green);
    border-radius: 1em;
    overflow: hidden;

    position: relative;
    transition: all cubic-bezier(0.215, 0.610, 0.355, 1) 200ms;

    p {
        opacity: 1;
        transition: all cubic-bezier(0.215, 0.610, 0.355, 1) 200ms;
    }
    .reviewName {
        font-size: 2vw;
        color: var(--white);
        padding: 2vh 0  2vh 2vw;
        border-bottom: var(--white) 2px solid;
    }
    .reviewText {
        font-size: 1.25vw;
        color: var(--white);
        padding: 2vh 1vw 0;
    }
    .shortReviewText {
        display: none;
    }
}

.card1 {
    grid-row: 1 / span 3;
    grid-column: 3 / span 3;
}
.card2 {
    grid-row: 1 / span 4;
    grid-column: 6 / span 3;
}
.card3 {
    grid-row: 5 / span 2;
    grid-column: 4 / span 4;
}
.card4 {
    grid-row: 3 / span 3;
    grid-column: 1 / span 2;
}
.card:hover {
    height: 96.5%;
    width: 96.5%;
    grid-row: 2 / span 4;
    grid-column: 2 / span 6;
    z-index: 1;

    p {
        opacity: 1;
    }

    .reviewName {
        font-size: 3vw;
    }
    .reviewText {
        font-size: 1.3vw;
        padding: 3vh 1vw;
    }
}

/* -------------- */

.contactForm {
    position: absolute;
    bottom: 0;

    height: 88%;
    width: 100%;
    background-color: var(--green);
    border-radius: 7em 7em 0 0;
    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.shortContactForm {
    display: none;
}

.contactForm > div {
    height: 100%;
    width: 100%;
    position: relative;
}


.contactUs {
    position: absolute;
    top: 10%;
    left: 12%;

    color: var(--white);
    font: 600 2.5vw 'Plus Jakarta Sans', sans-serif;
}
.textline {
    position: absolute;
    top: 18%;

    height: 2px;
    width: 50%;
    background-color: var(--white);
}
.contactMailDiv {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 80%;
}
form {
    height: 100%;
    width: 100%;
}
label {
    color: var(--white);
    font-size: 1vw;
    letter-spacing: 2px;
}
input {
    font-size: 1.5vw;
}

.topPartDiv {
    width: 100%;
    height: 20%;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
label[for="message"] {
    margin-left: 1%;
}
textarea {
    margin-left: 1%;
    font-size: 1.25vw;
    width: 98%;
    height: 45vh;
}
button[type="submit"] {
    position: absolute;
    bottom: 3%;
    left: 1%;

    height: 7%;
    width: 15%;
    border-radius: 5em;
    background-color: var(--white);
    color: var(--green);
    font-size: 1.25vw;
    font-weight: 700;
    letter-spacing: 2px;

    display: grid;
    place-items: center;

    transition: cubic-bezier(0.215, 0.610, 0.355, 1) 200ms;
}
button[type="submit"]:hover {
    background-color: #c5c5c5;
    border-radius: 7em;
    transform: scale(1.025);
}


.imgLogoDiv {
    position: absolute;
    right: 12%;
    top: 5%;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 42%;
    
}
.contactLogo {
    width: 70%;
}
.contactCatchphrase {
    color: var(--white);
    font-family: 'Kalnia', serif;
    font-size: 2.25vw;
    font-weight: 700;
}

.contactInfoDiv {
    position: absolute;
    bottom: 10%;
    right: 10%;

    height: 48%;
    width: 80%;
    

    display: grid;
    grid-template-rows: repeat(5, 1fr);
}
.contactInfoDiv > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contactName, .contactNumber, .bindingLine {
    color: var(--white);
    font-size: 1.75vw;
    letter-spacing: 2px;
}
.bindingLine {
    font-size: 2vw;
    font-weight: 700;
    margin: 0 5%;
}

i {
    position: absolute;
    bottom: 1%;
    right: 1%;

    color: var(--brown);
    font-size: 3vw;
}
.fa-instagram {
    right: 7%;
}


/* -------------- */


@keyframes slideLeftInfinitely {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }

}
@keyframes slideRightInfinitely {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

@media (max-width: 500px) {
    .navBar {     
        height: 10vh;
        width: 100%;

        gap: 0%;
    }
    
    .dngLogo {
        width: 25%;
    }
    .links {
        width: 75%;
        margin: 0;
        
        font-size: 3vw;
    }


    .mainDiv {
        height: 90vh;
        width: 100%;
    
        display: flex;
        flex-direction: column;
    }
    .textDiv {
        height: 32%;
        width: 100%;
    }
    .feedbackTitle {
        font-size: 7vw;
        width: 100%;
        padding: 5% 0 0 7%;
    }
    .feedbackTitleLine {
        width: 60%;
        height: 1%;
    
        margin: 1% 0 4%;
    }
    .feedbbackMainText {
        font-size: 3vw;
        width: 95%;
        margin: 0% auto 2%;
    }
        .feedbackContainer {
            height: 68;
            width: 100%;

            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(8, 1fr);
        }
        .card {
            .reviewName {
                font-size: 3vw;
                padding: 2vh 0 0.5vh 2vw;
            }
            .reviewText {
                display: none;
            }
            .shortReviewText {
                display: inline-block;
                color: var(--white);
                margin: 10% 1%;
            }
        }
        .card1, .card1:hover {
            grid-row: 1 / span 3;
            grid-column: 1 / span 3;
        }
        .card2, .card2:hover {
            grid-row: 4 / span 5;
            grid-column: 1 / span 3;
        }
        .card3, .card3:hover {
            grid-row: 6 / span 3;
            grid-column: 4 / span 3;
        }
        .card4, .card4:hover {
            grid-row: 1 / span 5;
            grid-column: 4 / span 3;
        }
        .card:hover {
            height: 99%;
            width: 99%;

            .reviewName {
                font-size: 3.5vw;
            }
            .shortReviewText {
                font-size: 5vw;
            }
        }


        .contactForm {
            display: none;
        }

        .shortContactForm {
            display: inline-block;
            position: absolute;
            bottom: 0;
        
            height: 88%;
            width: 100%;
            background-color: var(--green);
            border-radius: 2em 2em 0 0;
            overflow: hidden;
        }
        .shortContactForm > div {
            height: 100%;
            width: 100%;
            position: relative;
        }

        .shortContactUs {
            position: absolute;
            top: 8%;
            left: 8%;
    
            color: var(--white);
            font: 600 5vw 'Plus Jakarta Sans', sans-serif;
        }
        .shortTextline {
            position: absolute;
            top: 12%;
            height: 1px;
            width: 45%;
            background-color: var(--white);
        }
        .shortImgLogoDiv {
            position: absolute;
            right: 4%;
            top: 2%;
    
            display: flex;
            flex-direction: column;
            align-items: center;
    
            width: 42%;

            img {
                width: 60%;
            }
            p {
                color: var(--white);
                font-size: 4.5vw;
                font-weight: 700;
                font-family: 'Kalnia', serif;
            }
        }

        .shortContactMailDiv {
            position: absolute;
            bottom: 28%;
            left: 50%;
            transform: translateX(-50%);

            height: 55%;
            width: 95%;

            form {
                height: 97%;
                width: 100%;
                position: relative;

                label{
                    font-size: 3.5vw;
                    display: block;
                    line-height: 1vh;
                }
                input{
                    font-size: 4vw;
                    width: 95%;
                    height: 10%;
                    margin: 2% 0;
                }
                button {
                    font-size: 4vw;
                    width: 20%;
                    bottom: 2%;
                }
                textarea {
                    font-size: 3.5vw;
                    width: 95%;
                    height: 63%;
                    margin: 2% 0;
                }
            }
        }

        form > div {
            height: 100%;
            width: 100%;
        }
        .shortTopPartDiv {
            width: 100%;
            height: 20%;
            
            display: grid;
            grid-template-columns: 1fr 1fr;
            place-items: center;
        }

        .shortContactInfoDiv {
            position: absolute;
            bottom: 5%;
            left: 50%;
            transform: translateX(-50%);
    
            height: 23%;
            width: 95%;
            
            display: grid;
            grid-template-rows: repeat(5, 1fr);

            .shortContactName, .shortContactNumber {
                font-size: 4vw;
            }
            .shortBindingLine {
                font-weight: bold;
                margin: 0 2vw;
            }
            .shortContactName, .shortContactNumber, .shortBindingLine {
                color: var(--white);
            }

            div {
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        }

        .fa-brands {
            font-size: 7vw;
        }
        .fa-instagram {
            right: 9%;
        }

}